.header{
    position: fixed !important;
    top: 0;
    width: 100%;
    z-index: 9999;
}
.headerCt{
    margin-bottom: 85px;
}
button{
    background-color: #4bb39a !important;
    border: gray !important;
    color: white !important;
}